.list-group-item {
  background-color: transparent;
  border-top: 1px solid #ddd;
  border-radius: 0;
  border: none;
  color: #fff;
}

#portfolio h4,
p {
  text-align: left;
}

.mx-5 {
  margin-right: 25px;
  margin-left: 25px;
}
