body {
    font-family: "Poppins",sans-serif;
}

a {
    color: #fff;
}

a:hover {
    color: #004101;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    background-color: #9E9D99;
    color: #fff;
}

.btn-circle:hover {
    color: #9E9D99;
    background-color: #fff;
}

.main-nav {
    color: #fff;
    background: #009305;
    border-radius: 20px;
    min-height: 420px;
    max-height: 420px;
    top: 50px;
    overflow: hidden;
    position: fixed;
}

.navbar-brand img {
    width: 100px;
    height: auto;
}

.site-title {
    display: block;
    font-size: 28px;
    font-weight: 700;
    font-family: "Poppins",sans-serif;
}

.site-title.dot::after {
    content: "";
    background-color: #9E9D99;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
    height: 8px;
    width: 8px;
}

h1 .dot::after {
    content: "";
    background-color: #9E9D99;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
    height: 13px;
    width: 13px;
}

.section {
    margin-bottom: 50px;
    color: #777;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
    margin-top: 0;
    margin-bottom: 50px;
    padding: 65px 40px 60px;
    border-radius: 20px;
    box-shadow: 0px 6px 15px 0px rgba(74,99,231,.2);
}

.section-title {
    color: #000;
    font-family: "Poppins",sans-serif;
    font-weight: 700;
}

.section-title:after {
    content: "";
    background: #9E9D99;
    border-radius: 25px;
    display: block;
    height: 5px;
    margin-top: 14px;
    width: 30px;
}

.heading {
    background:linear-gradient(0deg, rgba(0, 147, 5, 0.95), rgba(0, 147, 5, 0.95)), url("../images/nujkram.jpg");
    background-color: #9E9D99;
    width: 100%;
    background-size: contain;
    background-position: 150% 75%;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.heading-title {
    font-family: "Poppins",Sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #000;
}

.heading-container { 
    min-height: 520px;
    align-items: center;
    max-width: 1140px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    color: #fff;
}

.blockquote-footer {
    color: #004101;
}

.widget-spacer {
    width: 100%;
    height: 50px;
}



/* 
========================
      ANIMATED BUTTON
========================
*/

.btn-a:link,
.btn-a:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn-a:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-a:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn-a:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}