.list-group-item {
  background-color: transparent;
  border-top: 1px solid #ddd;
  border-radius: 0;
  border: none;
  color: #fff;
}

#portfolio h4,
p {
  text-align: left;
}

.mx-5 {
  margin-right: 25px;
  margin-left: 25px;
}

.countdown-container {
  display: flex;
  align-items: center;
}

.big-text {
  font-size: 4.5rem;
  line-height: 1;
  margin: 0 2rem;
}

.countdown-el {
  text-align: center;
}

.countdown-el span {
  font-size: 1rem;
}
